.wrapper
  .header
    = render "pages/header"
  .header-title
    = render "pages/header-title"
  .article
    .contents
      %pre
        %code
          :preserve
          .contents__new
            = @nickname
            さんの投稿一覧
      .contents__box
        - @pages.each do |page|
          %ul.contents__smallbox
            = link_to "/pages/#{page.id}", method: :get do
              %li.content_image
                = image_tag page.image.url, size: '130x150'
              %li.content_title
                =page.name
            .contents__button
              = link_to '削除', "/pages/#{page.id}", method: :delete, class: 'contents__button-clear'
              = link_to '編集', "/pages/#{page.id}/edit", method: :get, class: 'contents__button-clear'
  .footer
    = render "pages/footer"