.wrapper
  .header
    = render "pages/header"
  .header-title
    = render "pages/header-title"
  -# まだ機能付けてないのでコメントアウト
  -# .main
  -#   = render "pages/main"
  .article
    .contents
      %pre
        %code
          :preserve
          .contents__new
            新着
      .contents__box
        - @pages.each do |page|
          %ul.contents__smallbox
            = link_to "/pages/#{page.id}", method: :get do
              %li.content_image
                = image_tag page.image.url, size: '130x150'
              %li.content_title
                =page.name
      %a.button{:href => "/all"} 全て見る
      %pre
        %code
          :preserve
          .content__new
            オススメ（急上昇）
      %a.button{:href => "#"} 全て見る
  .footer
    = render "pages/footer"
