.wrapper
  .header
    = render "pages/header"
    .create-container{:style => "width: 600px;margin: auto;"}
      %header.create-header{:style => "text-align: center;"}
        %h1 投稿してください
      %main.create-main
        = form_for @page do |f|
          %section.create-main__container
            %form{:action => "/pages", :method => "post"}
              %fieldset
                .form-box
                  %label{:for => "nameField"} Name
                  = f.text_field :name, class: "formcreate", placeholder: "名前を入力してください" 
                .form-box
                  %label{:for => "ageRangeField"} style
                  .select
                    = f.select :style, ["模様替え", "水周り", "クローゼット", "100均"], {include_blank: "--"}, class: "sell-main__select-default"
                .form-box
                  %label{:for => "commentField"} Comment
                  = f.text_area :text, class: "formcreate" , placeholder: "コメントを入力してください"
                .form-box
                  %label.sell-main__sample
                    -# = f.fields_for :images do |i|
                    -#   = i.file_field :image
                    -# ドラッグアンドドロップ
                    -# またはクリックしたファイルをアップロード
                  = f.file_field :image
                .form-box__button
                  = f.submit 'send', class: "button-primary", style: "margin-top: 20px;width: -webkit-fill-available;height: auto;"
                  %input.button-primary{:style => "color: gray;margin-top: 20px;width: -webkit-fill-available;height: auto;",}
                    =link_to root_path do
                      もどる
  .footer
    = render "pages/footer"

-# .create-container{:style => "width: 600px;margin: auto;"}
-#   %header.create-header{:style => "text-align: center;"}
-#     %h1 投稿してください
-#   %main.create-main
-#     %section.create-main__container
-#       = form_for(@page) do |f|
-#         %p= f.label :タイトル
-#         = f.file_field :image
-#         %p= f.submit "投稿する"