.wrapper
  .header
    = render "pages/header"
  .contents.row
    .content__name
      = @page.name
    .content__text
      = @page.text
    .content_image
      = image_tag @page.image.url, size: '300x275'
  .container
  - if current_user
    = form_tag("/pages/#{@page.id}/comments", method: :post) do
      %textarea{:cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
      %input{:type => "submit", :value => "SENT"}/
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
          = comment.text
  .footer
    = render "pages/footer"