.wrapper
  .header
    = render "pages/header"
  .header-title
    = render "pages/header-title"
  .contents.row
    .contents__table
      %table
        %thead
          %tr
            %th 写真
            %th 名前
            %th 説明
        %tbody
          %tr
            %td= image_tag @page.image.url, size: '300x275'
            %td= @page.name
            %td= @page.text
    .container
    - if current_user
      = form_tag("/pages/#{@page.id}/comments", method: :post) do
        %textarea{:cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
        %input{:type => "submit", :value => "SENT"}/
        %h4 ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
            = comment.text
  .item-button-container
    .item-button-container__left
      = render partial: 'favorites/favorite', locals: { page: @page, pages: @pages, favorites: @favorites, favorite: @favorite}
  .footer
    = render "pages/footer"